<div>
  <table class = "table table-striped table-bordered">

    <thead>
    <tr>
      <th>BOND DATA</th>
      <th>DATA</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let bond of bonds">
      <td>ISIN</td>
      <td> {{ bond.symbol }} </td>
    </tr>
    <tr *ngFor="let bond of bonds">
      <td>CUSIP</td>
      <td> {{ bond.symbol }} </td>
    </tr>
    <tr *ngFor="let bond of bonds">
      <td>BOND_NAME</td>
      <td> {{ bond.bondName }} </td>
    </tr>
    <tr *ngFor="let bond of bonds">
      <td>CURRENT PRICE</td>
      <td> {{ bond.currentPrice }} </td>
    </tr>

    <tr>
      <td>QUANTITY TO BUY</td>
      <td><input type="text" [(ngModel)]="tradeOrder.quantity"></td>
    </tr>
    <tr>
      <td><div class="form-group">
        <button class="btn btn-primary" (click)="buyBond()">Buy Bonds</button>
        <a [routerLink]="['/portfolio']" class="btn btn-link">Cancel</a>
      </div></td>
      <td></td>
    </tr>
    </tbody>

  </table>
</div>

