<!-- Single button -->
<div class="btn-group">
  &nbsp;
  <a [routerLink]="['/allbonds']" class="btn btn-link">Buy Bonds</a>
  <a [routerLink]="['/history']" class="btn btn-link">History</a>
</div>
<div>
  
    &nbsp;&nbsp;<b>Balance: {{ balance }}</b>

</div>

<div>
  <table class = "table table-striped">

    <thead>
    <tr>
      <th>Symbol</th>
      <th>Last Price</th>
      <th>Currency</th>
      <th>Quantity</th>
      <th>Sell</th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td><a href [routerLink]="['/bondinfo', position.bondId]"> {{ position.symbol }} </a></td>
      <td> {{ position.price }} </td>
      <td> {{ position.currency }} </td>
      <td> {{ position.quantity }} </td>
      <td><a href [routerLink]="['/sellbond', position.bondId]">Sell</a></td>

    </tr>
    </tbody>
  </table>
</div>

