<!-- Single button -->

<div>
  <p>
    &nbsp;&nbsp;Balance: {{ balance }}
  </p>
</div>

<div>
  <table class = "table table-striped">

    <thead>
    <tr>
      <th>Symbol</th>
      <th>Last Price</th>
      <th>Currency</th>
      <th>Buy</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td><a href [routerLink]="['/bondinfo', position.bondId]"> {{ position.symbol }} </a></td>
      <td> {{ position.price }} </td>
      <td> {{ position.currency }} </td>
      <td><a href [routerLink]="['/buybond', position.bondId]">Buy</a></td>
    </tr>
    </tbody>
  </table>
</div>

